@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&family=Pacifico&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Sintony:wght@400;700&display=swap');


/*Fonts*/
/* font-family: 'Lora', serif;
font-family: 'Sintony', sans-serif; */

/* ----------------------------------------------------------------------------------*/
/* Global Styles */

body{
    background-color: #404f94;
}

/* Text */
h1,h2{
    font-family: 'Lora', serif;
    font-weight: 700;
}

h3{
    font-family: 'Lora', serif;
    font-weight: 400;
}

h4{
    font-family: 'Sintony', sans-serif; 
    font-weight: 700;
}

p{
    font-family: 'Sintony', sans-serif; 
    font-weight: 400;
}

/* Buttons */

/* ----------------------------------------------------------------------------------*/
/* Navigation Bar */

/* ----------------------------------------------------------------------------------*/
/* Footer */

/* ----------------------------------------------------------------------------------*/
/* Sign Up/In Page */

/* ----------------------------------------------------------------------------------*/
/* Home Page */

/* ----------------------------------------------------------------------------------*/
/* Movies Library Page */

/* ----------------------------------------------------------------------------------*/
/* Individual Movie Page */

/* ----------------------------------------------------------------------------------*/
/* Movie Watch List Page */