@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&family=Pacifico&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Sintony:wght@400;700&display=swap');


/*Fonts*/
/* font-family: 'Lora', serif;
font-family: 'Sintony', sans-serif; */

/* ----------------------------------------------------------------------------------*/
/* Global Styles */

body{
    background-color: #c8d2ff;
}

/* Text */
h1,h2{
    font-family: 'Lora', serif;
    font-weight: 700;
}

h3{
    font-family: 'Lora', serif;
    font-weight: 400;
}

h4{
    font-family: 'Sintony', sans-serif; 
    font-weight: 700;
}

p{
    font-family: 'Sintony', sans-serif; 
    font-weight: 400;
}

/* Buttons */

/* ----------------------------------------------------------------------------------*/
/* Navigation Bar */
 
    /*Movie Library navigation bar */
    /* Style for the navigation bar */
.navbar {
  background-color: #404f94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Style for the logo */
.logo {
    width: 150px; /* Adjust the width as needed */
    height: 45px;
    flex-shrink: 0;
}
 

/* Style for the navigation buttons */
.nav-button {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #c7d1ff; /* Change the color on hover */
}

/* Style for the search bar container */
.search-bar {
  display: flex;
  align-items: center;
}

/* Style for the search input */
.search-bar input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

/* Style for the search button */
.search-button {
  background-color: #ea9653;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Add additional styles as needed */


/* ----------------------------------------------------------------------------------*/
/* Footer */

/* ----------------------------------------------------------------------------------*/
/* Sign Up/In Page */

/* ----------------------------------------------------------------------------------*/
/* Home Page */

/* ----------------------------------------------------------------------------------*/
/* Movie Library */

/* Styling for .movie-library-page */
.movie-library-page {
  background-color: #c7d1ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/* Styling for .movie-library-page .div */
.movie-library-page .div {
  background-color: #c7d1ff;
  overflow: hidden;
  width: 1512px;
  height: 1973px;
  position: relative;
}

/* Styling for .movie-library-page .text-wrapper */
.movie-library-page .text-wrapper {
  width: 685px;
  height: 70px;
  top: 145px;
  left: 413px;
  font-size: 48px;
  position: absolute;
  font-family: "Lora-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: 15.6px;
}

/* Styling for .movie-library-page .p */
.movie-library-page .p {
  position: absolute;
  width: 776px;
  height: 116px;
  top: 222px;
  left: 368px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .frame */
.movie-library-page .frame {
  width: 232px;
  height: 54px;
  top: 393px;
  left: 100px;
  background-color: #ea9653;
  border: 1px solid;
  border-color: #f17411;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 20px;
  position: absolute;
}

/* Styling for .movie-library-page .link */
.movie-library-page .link {
  position: relative;
  width: fit-content;
  margin-top: -6.5px;
  margin-bottom: -4.5px;
  font-family: "Sintony-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
}

/* Styling for .movie-library-page .link-wrapper */
.movie-library-page .link-wrapper {
  width: 232px;
  height: 54px;
  top: 393px;
  left: 564px;
  background-color: #ea9653;
  border: 1px solid;
  border-color: #f17411;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 20px;
  position: absolute;
}

/* Styling for .movie-library-page .div-wrapper */
.movie-library-page .div-wrapper {
  width: 232px;
  height: 54px;
  top: 393px;
  left: 1028px;
  background-color: #ea9653;
  border: 1px solid;
  border-color: #f17411;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 20px;
  position: absolute;
}

/* Styling for .movie-library-page .frame-2 */
.movie-library-page .frame-2 {
  display: flex;
  width: 232px;
  height: 54px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 20px;
  position: absolute;
  top: 393px;
  left: 332px;
  background-color: #ea9653;
  border: 1px solid;
  border-color: #f17411;
}

/* Styling for .movie-library-page .frame-3 */
.movie-library-page .frame-3 {
  width: 232px;
  height: 54px;
  top: 393px;
  left: 796px;
  background-color: #ea9653;
  border: 1px solid;
  border-color: #f17411;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 20px;
  position: absolute;
}

/* Styling for .movie-library-page .text-wrapper-2 */
.movie-library-page .text-wrapper-2 {
  position: absolute;
  width: 141px;
  height: 45px;
  top: 347px;
  left: 100px;
  font-family: "Lora-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 15.6px;
}

/* Styling for .movie-library-page .group */
.movie-library-page .group {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 501px;
  left: 101px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-2 */
.movie-library-page .group-2 {
  position: relative;
  width: 207px;
  height: 107px;
  top: 185px;
  left: 56px;
}

/* Styling for .movie-library-page .overlap-group */
.movie-library-page .overlap-group {
  position: absolute;
  width: 203px;
  height: 67px;
  top: 0;
  left: 0;
}

/* Styling for .movie-library-page .text-wrapper-3 */
.movie-library-page .text-wrapper-3 {
  position: absolute;
  width: 203px;
  height: 38px;
  top: 29px;
  left: 0;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
  white-space: nowrap;
}

/* Styling for .movie-library-page .text-wrapper-4 */
.movie-library-page .text-wrapper-4 {
  width: 176px;
  height: 52px;
  top: 0;
  left: 14px;
  font-size: 25px;
  position: absolute;
  font-family: "Lora-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: 15.6px;
}

/* Styling for .movie-library-page .frame-4 */
.movie-library-page .frame-4 {
  width: 171px;
  height: 40px;
  top: 67px;
  left: 16px;
  background-color: #0f1959;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 20px;
  position: absolute;
}

/* Styling for .movie-library-page .link-2 */
.movie-library-page .link-2 {
  position: relative;
  width: fit-content;
  margin-top: -13.63px;
  margin-bottom: -11.63px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.4px;
  font-family: "Sintony-Regular", Helvetica;
  font-weight: 400;
  line-height: normal;
}

/* Styling for .movie-library-page .group-wrapper */
.movie-library-page .group-wrapper {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 867px;
  left: 100px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-3 */
.movie-library-page .group-3 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 1233px;
  left: 103px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-4 */
.movie-library-page .group-4 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 501px;
  left: 433px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-5 */
.movie-library-page .group-5 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 867px;
  left: 432px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .overlap */
.movie-library-page .overlap {
  position: absolute;
  width: 646px;
  height: 474px;
  top: 1233px;
  left: 435px;
}

/* Styling for .movie-library-page .overlap-wrapper */
.movie-library-page .overlap-wrapper {
  position: absolute;
  width: 523px;
  height: 474px;
  top: 0;
  left: 0;
}

/* Styling for .movie-library-page .overlap-2 */
.movie-library-page .overlap-2 {
  position: relative;
  width: 529px;
  height: 474px;
}

/* Styling for .movie-library-page .rectangle */
.movie-library-page .rectangle {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-6 */
.movie-library-page .group-6 {
  position: absolute;
  width: 473px;
  height: 289px;
  top: 185px;
  left: 56px;
}

/* Styling for .movie-library-page .text-wrapper-5 */
.movie-library-page .text-wrapper-5 {
  position: absolute;
  width: 422px;
  height: 52px;
  top: 237px;
  left: 45px;
  font-family: "Lora-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 15.6px;
}

/* Styling for .movie-library-page .group-7 */
.movie-library-page .group-7 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 0;
  left: 334px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-8 */
.movie-library-page .group-8 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 501px;
  left: 767px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-9 */
.movie-library-page .group-9 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 867px;
  left: 766px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-10 */
.movie-library-page .group-10 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 501px;
  left: 1098px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-11 */
.movie-library-page .group-11 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 867px;
  left: 1097px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .group-12 */
.movie-library-page .group-12 {
  position: absolute;
  width: 312px;
  height: 312px;
  top: 1233px;
  left: 1100px;
  background-color: #ffffff;
  border-radius: 40px;
}

/* Styling for .movie-library-page .footer */
.movie-library-page .footer {
  position: absolute;
  width: 1520px;
  height: 182px;
  top: 1791px;
  left: 0;
}

/* Styling for .movie-library-page .overlap-3 */
.movie-library-page .overlap-3 {
  position: relative;
  height: 182px;
}

/* Styling for .movie-library-page .background */
.movie-library-page .background {
  position: absolute;
  width: 1512px;
  height: 182px;
  top: 0;
  left: 0;
}

/* Styling for .movie-library-page .LOGO */
.movie-library-page .LOGO {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 56px;
  left: 69px;
}

/* Styling for .movie-library-page .divider */
.movie-library-page .divider {
  position: absolute;
  width: 1px;
  height: 182px;
  top: 0;
  left: 171px;
  background-color: #e0e0e0;
}

/* Styling for .movie-library-page .text-2 */
.movie-library-page .text-2 {
  position: absolute;
  width: 169px;
  height: 28px;
  top: 77px;
  left: 195px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-3 */
.movie-library-page .text-3 {
  position: absolute;
  width: 198px;
  height: 28px;
  top: 77px;
  left: 259px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-4 */
.movie-library-page .text-4 {
  position: absolute;
  width: 122px;
  height: 28px;
  top: 77px;
  left: 329px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-5 */
.movie-library-page .text-5 {
  position: absolute;
  width: 168px;
  height: 28px;
  top: 77px;
  left: 385px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-6 */
.movie-library-page .text-6 {
  position: absolute;
  width: 109px;
  height: 28px;
  top: 77px;
  left: 454px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-7 */
.movie-library-page .text-7 {
  position: absolute;
  width: 132px;
  height: 28px;
  top: 77px;
  left: 503px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-8 */
.movie-library-page .text-8 {
  position: absolute;
  width: 89px;
  height: 28px;
  top: 77px;
  left: 565px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .divider-2 */
.movie-library-page .divider-2 {
  position: absolute;
  width: 1px;
  height: 182px;
  top: 0;
  left: 634px;
  background-color: #e0e0e0;
}

/* Styling for .movie-library-page .text-9 */
.movie-library-page .text-9 {
  position: absolute;
  width: 127px;
  height: 28px;
  top: 77px;
  left: 653px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .divider-3 */
.movie-library-page .divider-3 {
  position: absolute;
  width: 1px;
  height: 182px;
  top: 0;
  left: 784px;
  background-color: #e0e0e0;
}

/* Styling for .movie-library-page .text-10 */
.movie-library-page .text-10 {
  position: absolute;
  width: 168px;
  height: 28px;
  top: 77px;
  left: 800px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-11 */
.movie-library-page .text-11 {
  position: absolute;
  width: 129px;
  height: 28px;
  top: 77px;
  left: 870px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-12 */
.movie-library-page .text-12 {
  position: absolute;
  width: 82px;
  height: 28px;
  top: 77px;
  left: 914px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-13 */
.movie-library-page .text-13 {
  position: absolute;
  width: 115px;
  height: 28px;
  top: 77px;
  left: 948px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-14 */
.movie-library-page .text-14 {
  position: absolute;
  width: 103px;
  height: 28px;
  top: 77px;
  left: 1000px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-15 */
.movie-library-page .text-15 {
  position: absolute;
  width: 84px;
  height: 28px;
  top: 77px;
  left: 1040px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-16 */
.movie-library-page .text-16 {
  position: absolute;
  width: 73px;
  height: 28px;
  top: 77px;
  left: 1082px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

/* Styling for .movie-library-page .text-17 */
.movie-library-page .text-17 {
  position: absolute;
  width: 123px;
  height: 28px;
  top: 77px;
  left: 1125px;
  font-family: "Lora-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33px;
}

    
    
/* ----------------------------------------------------------------------------------*/
/* Individual Movie Page */

/* ----------------------------------------------------------------------------------*/
/* Movie Watch List Page */